<html ng-app>
    <head>
        <title>My App</title>
    </head>
    <body>
        <div ng-init="students=[{name:'vijender',city:'shimla'}, {name:'harman',city:'moonak'}, {name:'mahinga',city:'pipaltha'}]">
            Name:<input type="text" ng-model="namefilter"/>
            <ul>
                <li ng-repeat="student in students | filter:namefilter | orderBy:'city'">{{student.name}} -- {{student.city}}</li>
            </ul>
        </div>
        
        <script src="scripts/angular.js"></script>
    </body>
</html>
